body {
	font-family: "Montserrat", "Avenir";
	font-weight: 700;
	/*I got this from uigradients.com*/
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
	width: 400px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

header {
	display: flex;
	background-color: steelblue;
	color: white;
	vertical-align: middle;
	align-items: center;
	justify-content: space-between;
	width: 400px;
}

h2 {
	display: inline-block;
	margin: 2% 5%;
	font-weight: normal;
	font-size: 1.5em;
}

#toggleInputBtn {
	float: right;
	margin: 2% 5%;
	background: none;
	color: white;
	border: none;
}

input {
	vertical-align: top;
	width: 100%;
	box-sizing: border-box; /*Add code for other browsers (webkit)*/
    background: #f7f7f7;
    color: #666;
	font-family: inherit;
	border: 2px solid #f7f7f7;
	text-indent: 5%;
	font-weight: 700;
	font-size: 1.1em;
    height: 45px;
    padding-left: 18px;
}

input:focus {
	border: 3px solid steelblue;
	background-color: #fff;
	outline: none;
}

.deleteItemBtn {
	color: white;
	background-color: #e74c3c;
	border: none;
	height: 40px;
	width: 0;
	margin: 0 20px 0 0;
	text-align: center;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover .deleteItemBtn {
	width: 40px;
	opacity: 1;
}

.rotateIn > * {
	animation-duration: 0.3s;
	animation-name: rotateIn;
	animation-timing-function: cubic-bezier(1,0,.5,1);
}

@keyframes rotateIn {
    from { transform: rotate(-90deg) } 
    to { transform: rotate(0deg) } 
}

@-webkit-keyframes rotateIn {
    from { -webkit-transform: rotate(-90deg) } 
    to { -webkit-transform: rotate(0deg) } 
}

.rotateOut > * {
	animation-duration: 0.2s;
	animation-name: rotateOut;
	animation-timing-function: cubic-bezier(1,0,.5,1);
}

@keyframes rotateOut {
    from { transform: rotate(0deg) } 
    to { transform: rotate(-90deg) } 
}

@-webkit-keyframes rotateOut {
    from { -webkit-transform: rotate(0deg) } 
    to { -webkit-transform: rotate(-90deg) } 
}

.done {
	text-decoration: line-through;
	color: darkgray;
}

ul {
    list-style: none;
    margin: auto;
    padding: 0;
}

span {
    margin-left: 5%;
}

li {
    cursor: pointer;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    color: #666;
}

li:nth-child(even) {
background: #f7f7f7;
}

.clearButton {
    cursor: pointer;
    background-color: steelblue;
    color: white;
    width: 100%;
    padding: 2%;
    border: none;
    outline: none;
    font-size: 20px;
}